modules = ["nodejs-20", "nix"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
FIREBASE_PROJECT_ID = "studio-9015007721-ac536"
FIREBASE_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@studio-9015007721-ac536.iam.gserviceaccount.com"
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyCl3guWzQNlp7KasDyzIAAu6RPCG03Mw-U"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "studio-9015007721-ac536.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "studio-9015007721-ac536"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "studio-9015007721-ac536.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "1064367864733"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:1064367864733:web:19aa83d24a7fb388b28d74"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 5003
externalPort = 3003

[[ports]]
localPort = 8080
externalPort = 8080
