rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isPlayer(gameId) {
      return exists(/databases/$(database)/documents/games/$(gameId)/playerData/$(request.auth.uid));
    }

    function isCreator(gameId) {
      return request.auth.uid == get(/databases/$(database)/documents/games/$(gameId)).data.creator;
    }

    match /games/{gameId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null && isPlayer(gameId);
    }

    match /games/{gameId}/playerData/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && isCreator(gameId);
      allow delete: if false;
    }
  }
}
