
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{gameId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Allow anyone to read, but only authenticated users to write.
    // This is a temporary rule for development.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
