rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow public read for assets like avatars
      allow read;
      // Disallow all client-side writes for now to keep it simple and secure.
      // Avatars are pre-selected.
      allow write: if false;
    }
  }
}
