
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 270 95% 6%;
    --foreground: 0 0% 98%;
    --card: 285 80% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 270 95% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 288 100% 80%;
    --primary-foreground: 288 100% 20%;
    --secondary: 285 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 285 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 300 100% 70%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 20% 25%;
    --input: 285 20% 25%;
    --ring: 288 100% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
.text-shadow-lg {
    text-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
.filter-destructive {
  filter: brightness(0) saturate(100%) invert(26%) sepia(80%) saturate(3501%) hue-rotate(345deg) brightness(91%) contrast(92%);
}
